.container{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
}
.cookies-credential{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    width: 35%;
    padding: 10px;
    border: 2px solid black;

}
input{
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
}

input[type=button]{
    background-color: yellow;
    border-radius: 4px;
}
